.loader-container {
    position: absolute;
    background: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-primary;
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
}

.d2 {
    animation-delay: 0.05s;
    background: $color-secondary;
}

.d3 {
    animation-delay: 0.1s;
    background: $color-tertiary;
}

@keyframes loader {
    100% {
        transform: translateY(-30px);
    }
}