/* Variables */

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1050px;


/* Reset CSS */

* {
    margin: 0;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:link{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}

/* Header */

.headlogo {
    display: flex;
    justify-content: center;
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
    @media (min-width: $breakpoint-desktop) {
        height: 96px;
        font-size: 35px;
    }
    &__text {
        margin-top: 14px;
        @media (min-width: $breakpoint-desktop) {
            margin-top: 30px;
        }
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    color: #353535;
    height: 50px;
    &__city {
        margin-left: 17px;
        font-size: 16px;
    }
}

.description {
    background-color: darken($color: white, $amount: 3%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title {
        margin-top: 40px;
        font-size: 24px;
        font-weight: 700;
        width: 73%;
        @media (min-width: $breakpoint-desktop) {
            font-size: 40px;
            font-weight: 700;
            margin-top: 30px;
        }
    }
    &__discover {
        font-weight: 300;
        font-size: 18px;
        width: 85%;
        margin-top: 10px;
        margin-bottom: 27px;
        color: #353535;
    }
    &__button {
        color: white;
        background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
        border: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        width: 218px;
        height: 50px;
        margin-bottom: 57px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media (min-width: $breakpoint-desktop) {
            margin-bottom: 30px;
        }
        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        }
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 43px;
    @media (min-width: $breakpoint-desktop) {
        max-width: $breakpoint-desktop;
        margin: auto;
        margin-bottom: 25px;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-top: 48px;
        margin-bottom: 26px;
    }
    &__bis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
        &__card {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 97%;
            height: 72px;
            background-color: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            margin-bottom: 25px;
            font-size: 16px;
            @media (min-width: $breakpoint-tablet) {
                width: 31%;
            }
            &__number {
                color: white;
                background-color: $color-primary;
                width: 24px;
                height: 24px;
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                right: 12px;
            }
            &__icone {
                color: #7E7E7E;
                margin-left: 10px;
                margin-right: 20px;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

/* Main */

.main {
    background-color: darken($color: white, $amount: 3%);
    &__title {
        font-weight: 700;
        font-size: 24px;
        padding-top: 54px;
        margin-left: 20px;
        margin-bottom: 25px;
        @media (min-width: $breakpoint-desktop) {
            max-width: $breakpoint-desktop;
            margin: auto;
            margin-bottom: 25px;
            padding-top: 30px;
        }
    }
    &__section{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media (min-width: $breakpoint-desktop) {
            max-width: $breakpoint-desktop;
            margin: auto;
            padding-bottom: 0px;
        }
        &__card {
            width: 100%;
            height: 251px;
            margin-bottom: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            @media (min-width: $breakpoint-tablet) {
                width: 48%;
            }
            @media (min-width: $breakpoint-desktop) {
                width: 45%;
                margin-bottom: 50px;
            }
            &__container {
                height: 70%;
                &__img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px 15px 0px 0px;
                }
            }
            &__description {
                margin-top: 16px;
                margin-left: 13px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &__name {
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                &__place {
                    font-weight: 300;
                    font-size: 17px;
                }
                &__bis {
                    display: flex;
                    flex-direction: row;
                    margin-right: 25px;
                    &__new {
                        position: relative;
                        bottom: 175px;
                        left: 10px;
                        height: 29px;
                        width: 80px;
                        background-color: $color-tertiary;
                        color: #008766;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}

/* Footer */

.footer {
    background-color: #353535;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 15px;
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        padding: 0px;
        padding-bottom: 30px;
        padding-right: 60px;
        height: 114px;
    }
    &__logo {
        font-size: 18px;
        color: white;
        font-family: 'Shrikhand';
        margin-bottom: 18px;
        @media (min-width: $breakpoint-desktop) {
            margin: 0px;
        }
    }
    &__ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
        }
        &__li {
            margin-bottom: 7px;
            @media (min-width: $breakpoint-desktop) {
                margin: 0px;
                margin-right: 30px;
            }
            &__link {
                display: flex;
                flex-direction: row;
                color: white;
                font-size: 16px;
                &--weight {
                    font-weight: 400;
                }
                &__icone {
                    margin-right: 10px;
                    &--more {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}