/* Variables */

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1050px;


/* Reset CSS */

* {
    margin: 0;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:link{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}

/* Header */

.nav {
    &__headlogo {
        display: flex;
        justify-content: space-between;
        height: 63px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        text-align: center;
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 30px;
        @media (min-width: $breakpoint-desktop) {
            height: 96px;
            font-size: 35px;
        }
        &__arrow {
            font-size: 23px;
            color: #353535;
            position: relative;
            left: 25px;
            top: 20px;
            &--hidden {
                visibility: hidden;
            }
            @media (min-width: $breakpoint-desktop) {
                top: 35px;
            }
        }
        &__text {
            margin-top: 14px;
            @media (min-width: $breakpoint-desktop) {
                margin-top: 25px;
            }
        }
    }
}

.header_img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    @media (min-width: $breakpoint-desktop) {
        height: 380px;
    }
}

/* Main */

.main {
    background-color: #F7F7F7;
    border-radius: 45px 45px 0px 0px;
    padding: 32px 13px 0px 13px;
    margin-bottom: -50px;
    position: relative;
    bottom: 50px;
    @media (min-width: $breakpoint-desktop) {
        max-width: $breakpoint-desktop;
        margin: auto;
        margin-bottom: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 28px;
        margin-bottom: 30px;
        margin-left: 4px;
        @media (min-width: $breakpoint-desktop) {
            justify-content: center;
            margin-right: 0px;
            margin-left: 0px;
        }
        &__text {
            font-family: 'Shrikhand';
            font-weight: 400;
            font-size: 28px;
        }
        &__container{
            display: flex;
            flex-direction: row;
            align-items: center;
            @media (min-width: $breakpoint-desktop) {
                margin-left: 30px;
            }
            &__heart {
                font-size: 24px;
                @media (max-width: $breakpoint-desktop) {
                    position: relative;
                    left: 35px;
                }
            }
            &__heart-solid {
                position: relative;
                left: -25px;
                font-size: 26px;
                opacity: 0;
                @media (max-width: $breakpoint-desktop) {
                    position: relative;
                    left: 10px;
                }
                &:hover {
                    background: linear-gradient(200deg, $color-primary, $color-secondary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    transition: all 300ms ease-in-out;
                    opacity: 1;
                }
            }
        }
    }
    &__section {
        padding-bottom: 28px;
        animation: loading-menu 1s both;
        @media (min-width: $breakpoint-desktop) {
            max-width: 635px;
            width: 635px;
            margin: auto;
        }
        &__title {
            font-weight: 300;
            font-size: 16px;
            height: 23px;
        }
        &__border {
            height: 3px;
            width: 40px;
            background-color: $color-tertiary;
            margin: 0px;
            margin-bottom: 12px;
            padding: 0px;
        }
        &__card {
            position: relative;
            background-color: white;
            height: 69px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin-bottom: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            &:hover {
                & > .main__section__card__check {
                    display: block;
                    animation: slide 0.5s ease;
                }
            }
            &__menu {
                padding: 12px 0px 12px 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &__title {
                    font-weight: 500;
                    font-size: 18px;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__description {
                    font-weight: 300;
                    font-size: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &__price {
                color: #353535;
                font-weight: 700;
                font-size: 15px;
                margin: 0px 15px 12px 0px;
            }
            &__check {
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                padding: 0px 15px;
                background-color: #99E2D0;
                height: 100%;
                border-radius: 0 15px 15px 0;
                &__icon {
                    font-size: 25px;
                    margin-top: 25px;
                    color: white;
                    animation: rotate 0.5s ease-in-out;
                }
            }
        }
    }
    &__container {
        display: flex;
        justify-content: center;
        &__button {
            color: white;
            background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
            border: none;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            width: 186px;
            height: 50px;
            margin-bottom: 57px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:hover {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            }
        }
    }
}

.section2 {
    animation-delay: 0.2s;
}

.section3 {
    animation-delay: 0.4s;
}

@keyframes loading-menu {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes choose-dish {
    from {
        transform: scaleX(1)
    }

    to {
        transform: scaleX(0.8);
    }
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Footer */

.footer {
    background-color: #353535;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 15px;
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        padding: 0px;
        padding-bottom: 30px;
        padding-right: 60px;
        height: 114px;
    }
    &__logo {
        font-size: 18px;
        color: white;
        font-family: 'Shrikhand';
        margin-bottom: 18px;
        @media (min-width: $breakpoint-desktop) {
            margin: 0px;
        }
    }
    &__ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
        }
        &__li {
            margin-bottom: 7px;
            @media (min-width: $breakpoint-desktop) {
                margin: 0px;
                margin-right: 30px;
            }
            &__link {
                display: flex;
                flex-direction: row;
                color: white;
                font-size: 16px;
                &--weight {
                    font-weight: 400;
                }
                &__icone {
                    margin-right: 10px;
                    &--more {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}