/* Variables */

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1050px;


/* Reset CSS */

* {
    margin: 0;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:link{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}

/* Header */

.nav {
    &__headlogo {
        display: flex;
        justify-content: space-between;
        height: 63px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        text-align: center;
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 30px;
        @media (min-width: $breakpoint-desktop) {
            height: 96px;
            font-size: 35px;
        }
        &__arrow {
            font-size: 23px;
            color: #353535;
            position: relative;
            left: 25px;
            top: 20px;
            &--hidden {
                visibility: hidden;
            }
            @media (min-width: $breakpoint-desktop) {
                top: 35px;
            }
        }
        &__text {
            margin-top: 14px;
            @media (min-width: $breakpoint-desktop) {
                margin-top: 25px;
            }
        }
    }
}

.header_img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    @media (min-width: $breakpoint-desktop) {
        height: 380px;
    }
}

/* Main */

.main {
    background-color: #F7F7F7;
    border-radius: 45px 45px 0px 0px;
    padding: 32px 13px 0px 13px;
    margin-bottom: -50px;
    position: relative;
    bottom: 50px;
    @media (min-width: $breakpoint-desktop) {
        max-width: $breakpoint-desktop;
        margin: auto;
        margin-bottom: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 28px;
        margin-bottom: 30px;
        margin-left: 4px;
        @media (min-width: $breakpoint-desktop) {
            justify-content: center;
            margin-right: 0px;
            margin-left: 0px;
        }
        &__text {
            font-family: 'Shrikhand';
            font-weight: 400;
            font-size: 28px;
        }
    }
    &__section {
        padding-bottom: 28px;
        @media (min-width: $breakpoint-desktop) {
            max-width: 635px;
            width: 635px;
            margin: auto;
        }
        &__title {
            font-weight: 300;
            font-size: 16px;
            height: 23px;
        }
        &__border {
            height: 3px;
            width: 40px;
            background-color: $color-tertiary;
            margin: 0px;
            margin-bottom: 12px;
            padding: 0px;
        }
        &__card {
            background-color: white;
            height: 69px;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            border-radius: 15.0431px;
            margin-bottom: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__title {
                font-size: 18px;
                padding-top: 12px;
                padding-left: 15px;
            }
            &__description {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 15px;
                padding-bottom: 12px;
                padding-right: 12px;
                font-weight: 300;
                font-size: 15.0431px;
                &__price {
                    color: #353535;
                    font-weight: 700;
                    font-size: 15.0431px;
                }
            }
        }
    }
    &__container {
        display: flex;
        justify-content: center;
        &__button {
            color: white;
            background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
            border: none;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            width: 186px;
            height: 50px;
            margin-bottom: 57px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:hover {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, $color-primary -5.2%, $color-secondary 110.74%);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            }
        }
    }
}

/* Footer */

.footer {
    background-color: #353535;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 15px;
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        padding: 0px;
        padding-bottom: 30px;
        padding-right: 60px;
        height: 114px;
    }
    &__logo {
        font-size: 18px;
        color: white;
        font-family: 'Shrikhand';
        margin-bottom: 18px;
        @media (min-width: $breakpoint-desktop) {
            margin: 0px;
        }
    }
    &__ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
        }
        &__li {
            margin-bottom: 7px;
            @media (min-width: $breakpoint-desktop) {
                margin: 0px;
                margin-right: 30px;
            }
            &__link {
                display: flex;
                flex-direction: row;
                color: white;
                font-size: 16px;
                &--weight {
                    font-weight: 400;
                }
                &__icone {
                    margin-right: 10px;
                    &--more {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}